.fish-card {
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 200px;
}

.fish-card-header {
	// border: 1px solid #aaa;
	padding-left: 10px;
	padding-right: 10px;
	background: #ddd;
}

.fish-card-header-title {
	font-size: 1.6em;
	line-height: 1.8em;
}

.fish-card-header-title-link {
	text-decoration: none;
	color: black;
}

.fish-card-header-title-link:hover {
	color: #888;
}

.fish-card-section {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.fish-card-section:first-child {
	padding-top: 10px;
}

.fish-card-section:last-child {
	padding-bottom: 10px;
}

.fish-card-summary-switch {
	font-size: 0.8em;
}

.fish-card-seafood-link {
	display: inline-block;
	text-decoration: none;
	line-height: 1.8em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	border: 1px solid #ccc;
	border-radius: 2px;
	color: black;
}

.fish-card-seafood-link:hover {
	background-color: #ccc;
	border-radius: 2px;
}