.fish-list,
.fish-alphabet-filter-list {
	list-style: none;
	padding-left: 0;	
}

.fish-list-item {
	margin-top: 10px;
	margin-bottom: 10px;
}

.fish-list-item:first-child {
	margin-top: 0;
	margin-bottom: 10px;
}

.fish-list-item:last-child {
	margin-top: 10px;
	margin-bottom: 0;
}

.fish-filter {
	margin-top: 1em;
}

.fish-filter-input {
	width: 100%;
	line-height: 2em;
	font-size: 1em;
}

.fish-results {
	display: flex;
	flex-direction: row;
}

.fish-list-container {
	flex: 0 1 100%;
}

.fish-alphabet-filter {
	padding-left: 10px;
	padding-right: 10px;
	flex: 0 0 50px;
}

.fish-alphabet-filter-box {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	text-align: center;
	border: 1px solid #ccc;
}

.fish-alphabet-filter-box--selected {
	background: yellow;
}