.fish-list {
	list-style: none;
	padding-left: 0;	
}

.fish-list-item {
	margin-top: 10px;
	margin-bottom: 10px;
}

.fish-list-item:first-child {
	margin-top: 0;
	margin-bottom: 10px;
}

.fish-list-item:last-child {
	margin-top: 10px;
	margin-bottom: 0;
}

.fish-filter {
	margin-top: 1em;
}

.fish-filter-input {
	width: 100%;
	line-height: 2em;
	font-size: 1em;
}
